{{define "game/page"}}
	{{if .Game}}
	<h1 class="left">{{.Game.Title}}</h1>
	<h1 class="mid">{{.Game.Developer}}</h1>
	<h1 class="right">{{.Game.Publisher}}</h1>
	<a href="/game/{{URLQueryEscaper .Game.GameId}}/edit">Edit</a>
	<a href="/game/{{URLQueryEscaper .Game.GameId}}/claim">Claim</a>
	{{if .Game.URL}}
		{{RenderTemplateVideo .Game.URL 320 240}}
	{{end}}
	<h2>Description</h2>
	<p class="description">
		{{.Game.Description}}
	</p>
	<p class="copyright">
		.Game.Copyright
	</p>
	<div class="average">
		<h2>Average</h2>
		{{RenderTemplateRating .Game.Rating}}
		<p>Out of {{.ReviewCount}} Reviews</p>
	</div>
	<h2>Top Reviews <a class="small" href="/review/{{URLQueryEscaper .Game.GameId}}">See All</a></h2>
	<div class="reviews">
		{{if .CurrentUser}}
			<a href="/review/{{URLQueryEscaper .Game.GameId}}/new">Post your own review.</a>
		{{else}}
			<p><a href="/review/{{URLQueryEscaper .Game.GameId}}/new">Login/Sign-up</a> to post your own review.</p>
		{{end}}
		{{range .TopReviews}}
			<div class="review shortened">
				<a href="/users/{{URLQueryEscaper .Review.UserId}}" class="reviewer">{{FindUserNameByID .Review.UserId}} ({{ReviewCount .Review.UserId}} Reviews)</a>
				{{RenderTemplateReview .}}
			</div>
		{{else}}
			<p>No Reviews Yet</p>
		{{end}}
	</div>
	<h2>Top User Videos <a class="small" href="/videos/{{URLQueryEscaper .Game.GameId}}">See All</a></h2>
	<div class="uservids">
		{{if .CurrentUser}}
			<a href="/videos/{{URLQueryEscaper .Game.GameId}}/new">Post your own video</a>
		{{else}}
			<p><a href="/videos/{{URLQueryEscaper .Game.GameId}}/new">Login/Sign-up</a> to post your own video.</p>
		{{end}}
		{{range .TopUserVids}}
			{{RenderTemplateUserVideo . 320 240}}
		{{else}}
			<p>No User-Posted Videos Yet</p>
		{{end}}
	</div>
	{{else}}
		<p>Failed to load Game</p>
	{{end}}
{{end}}
