{{define "review/edit"}}
	{{if eq .Review.UserId .CurrentUser.UserId}}
	<form action="/review/{{.Review.ReviewId}}/edit" method="post">
		<script type="text/javascript" src="/assets/js/review.js"></script>
		<div class="formgrp">
			<label for="gameTitle">Review for</label>
			<input type="text" value="{{FindGameNameByID .Review.GameId}}" id="gameTitle" name="gameTitle" disabled="disabled" />
		</div>
		<!--
		<div class="formgrp">
			<label for="reviewVid">Video URL (optional)</label>
			<input type="text" id="reviewVid" name="reviewVid" value=".Review.URL" />
		</div>
		-->
		<div class="formgrp">
			<label for="reviewRating">Rating</label>
			<div id="reviewRating" name="reviewRating"></div>
			<input type="hidden" id="reviewRate" name="reviewRate" value="{{if .Review.Rating}}{{.Review.Rating}}{{else}}0{{end}}"/>
			<script type="text/javascript">
			<!--
			drawReviewStars(document.getElementById('reviewRating'), document.getElementById('reviewRate'), {{.Review.Rating}});
			-->
			</script>
		</div>
		<div class="formgrp">
			<label for="reviewBody">Review</label>
			<textarea id="reviewBody" name="reviewBody">{{.Review.Body}}</textarea>
			<input type="hidden" id="reviewID" name="reviewID" value="{{.Review.ReviewId}}"/>
		</div>
		<div class="formgrp">
			<input type="hidden" id="gameID" name="gameID" value="{{.Review.GameId}}"/>
			<input type="submit"/>
		</div>
	</form>
	{{else}}
		<p>Only the user who posted a review may edit it.</p>
	{{end}}
{{end}}
