{{define "review/new"}}
	{{if .Game}}
	<form action="/review/{{URLQueryEscaper .Game.GameId}}/new" method="post">
		<div class="formgrp">
			<label for="gameTitle">Review for</label>
			<input type="text" value="{{URLQueryEscaper .Game.Title}}" id="gameTitle" name="gameTitle" disabled="disabled" />
		</div>
		<div class="formgrp">
			<label for="reviewVid">Video URL (optional)</label>
			<input type="text" id="reviewVid" name="reviewVid" value="{{.Review.URL}}" />
		</div>
		<div class="formgrp">
			<label for="reviewRating">Rating</label>
			<div id="reviewRating" name="reviewRating">
				{{if .Rating}}
					{{RenderTemplateRating .Review.Rating}}
				{{else}}
					{{RenderTemplateRating 0}}
				{{end}}
			</div>
		</div>
		<div class="formgrp">
			<label for="reviewBody">Review</label>
			<textarea id="reviewBody" name="reviewBody">
				{{.Review.Body}}
			</textarea>
		</div>
		<div class="formgrp">
			<input type="hidden" id="gameID" name="gameID" value="{{.Game.GameId}}"/>
			<input type="submit"/>
		</div>
	</form>
	{{else}}
		<p>Failed to Find Game to Review</p>
	{{end}}
{{end}}
