<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/assets/css/common.css" />
<script type="text/javascript" src="/assets/js/init.js"></script>
</head>
<body onload="javascript:initShortened()">
	<div class="nav">
		<a class="sitetitle" href="/">Gamebase</a>
		{{if .CurrentUser}}
		<a class="navitem" href="/logout">Logout</a>
		<a class="navitem" href="/account">{{.CurrentUser.UserName}}</a>
		{{else}}
		<a class="navitem" href="/login">Login|Sign Up</a>
		{{end}}
		<form class="navitem" action="/search" method="GET"><input type="search" class="search" name="NameIncludes"/><input type="submit" value="&#x1F50E;"/></form>
	</div>
	<div class="content">
		<div class="menu">
			{{yieldmenu}}
		</div>
		<div class="page">
			{{yield}}
		</div>
		<div class="chat">
			{{yieldchat}}
		</div>
	</div>
</body>
</html>
