<!doctype html>
<html>
<head>
<link rel="stylesheet" href="assets/css/common.css" />
<script type="text/javascript" href="assets/js/init.js"></script>
</head>
<body onload="javascript:initShortened()">
	<div class="nav">
		<a class="sitetitle" href="/">Gamebase</a>
		<a class="navitem" href="/login">Login|Sign Up</a>
		<form class="navitem"><input type="search" class="search"/><input type="submit" value="&#x1F50E;"/></form>
	</div>
	<div class="content">
		{{yieldmenu}}
		{{yield}}
		{{yieldchat}}
	</div>
</body>
</html>
