{{define "users/account"}}
	<div class="mid error">
		{{if .Error}}
		{{.Error}}
		{{end}}
	</div>
	<div class="mid">
		<h1>Account</h1>
		<a href="/users/{{.CurrentUser.UserId}}">Public User Page</a>
		<form action="/account" method="POST">
			<script type="text/javascript" src="/assets/js/account.js"></script>
			<div class="formgrp">
				<label for="accountName">UserName</label>
				<input type="text" value="{{.CurrentUser.UserName}}" name="accountName" id="accountName" readonly="readonly"/>
			</div>
			<div class="formgrp">
				<label for="accountEmail">Email</label>
				<input type="text" value="{{.CurrentUser.Email}}" name="accountEmail" id="accountEmail" />
			</div>
			<div class="formgrp">
				<label for="accountNewPassword">New Password</label>
				<input type="password" id="accountNewPassword" name="accountNewPassword" />
			</div>
			<div class="formgrp">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" id="confirmPassword" name="confirmPassword" />
			</div>
			<div class="formgrp">
				<h3>Friend List (click to remove)</h3>
				<ul class="friendList">
					{{range .CurrentUser.Friends}}
						<a href="#" onclick="javascript:removeFriend('accountFriendList', '{{URLQueryEscaper .UserId}}', '{{URLQueryEscaper .UserName}}', this);">{{.UserName}}</a>
					{{else}}
						<p>No Friends</p>
					{{end}}
				</ul>
				<input type="hidden" value="[]" name="accountFriendList" id="accountFriendList"/>
				<script type="text/javascript">
				<!--
				{
					var friendlist = [];
					{{range .CurrentUser.Friends}}
						gamelist.push('{{.UserId}}');
					{{end}}
					var val = document.getElementById('accountFriendList');
					val.value = '[';
					for(var i=0; i<friendlist.length; ++i){
						val.value += (i>0? ', "' : '"')+friendlist[i]+'"';
					}
					val.value += ']';
				}
				-->
				</script>
			</div>
			<div class="formgrp">
				<h3>Game List (click to remove)</h3>
				<ul class="gameList">
					{{range .CurrentUser.Games}}
						{{RenderTemplateGameLink . "#" "javascript:removeGame('accountGameList', '{{URLQueryEscaper .GameId}}', '{{URLQueryEscaper .Title}}', this);"}}
					{{else}}
						<p>No Games</p>
					{{end}}
				</ul>
				<input type="hidden" value="[]" name="accountGameList" id="accountGameList"/>
				<script type="text/javascript">
				<!--
				{
					var gamelist = [];
					{{range .CurrentUser.Games}}
						gamelist.push('{{.GameId}}');
					{{end}}
					var val = document.getElementById('accountGameList');
					val.value = '[';
					for(var i=0; i<gamelist.length; ++i){
						val.value += (i>0? ', "' : '"')+gamelist[i]+'"';
					}
					val.value += ']';
				}
				-->
				</script>
			</div>
			<div class="formgrp">
				<label for="accountPassword">Current Password (necessary for all changes)</label>
				<input type="password" id="accountPassword" name="accountPassword" />
			</div>
			<div class="formgrp">
				<input type="submit" value="Apply" />
			</div>
		</form>
	</div>
{{end}}
