{{define "users/login"}}
<div class="mid error">
	{{if .Error}}
	{{.Error}}
	{{end}}
</div>
<div class="left">
	<form action="/login?signup=false" method="POST">
		<h1>Login</h1>
		<div class="formgrp">
			<label for="loginUser">Username</label>
			<input type="text" id="loginUser" name="loginUser" value="{{.UName}}"/>
		</div>
		<div class="formgrp">
			<label for="loginPass">Password</label>
			<input type="password" id="loginPass" name="loginPass" />
		</div>
		<div class="formgrp">
			<input type="hidden" value="{{.Next}}" name="next"/>
			<input type="submit" value="Login" />
		</div>
	</form>
</div>
<div class="right">
	<form action="/login?signup=true" method="POST">
		<h1>Sign-Up</h1>
		<div class="formgrp">
			<label for="signUser">Username</label>
			<input type="text" id="signUser" name="signUser" value="{{.UName}}"/>
		</div>
		<div class="formgrp">
			<label for="signEmail">Email</label>
			<input type="text" id="signEmail" name="signEmail" value="{{.Email}}"/>
		</div>
		<div class="formgrp">
			<label for="signPass">Password</label>
			<input type="password" id="signPass" name="signPass" />
		</div>
		<div class="formgrp">
			<label for="repeatPass">Password</label>
			<input type="password" id="repeatPass" name="repeatPass" />
		</div>
		<div class="formgrp">
			<input type="hidden" value="{{.Next}}" name="next"/>
			<input type="submit" value="Sign Up" />
		</div>
	</form>
</div>
{{end}}
